@using Microsoft.AspNetCore.Identity
@inject SignInManager<Player> SignInManager
@inject UserManager<Player> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@model Card;
@{
    ViewData["Title"] = "Add a Card";
    ViewData["BootStrap"] = true;
    //Model.DuelCard = new Card();
}
<body>
    <div class="jumbotron text-center white-text" style="background-color: black">
        <h2 class="text-white">Add a card or else... :<</h2>
        @Html.ValidationMessage("Validation")
        <form asp-action="AddCardValidation" method="get">
            <div class="form-group">
                <input asp-for="CreatorID" hidden value="@user.PlayerID">
                <label>Card Text</label>
                <input asp-for="Text" type="text" class="form-control" placeholder="Please family friendly XD">
            </div>
            <button type="submit" class="btn btn-black">Submit</button>
        </form>
    </div>
</body>
