@model Player;
@{
    ViewData["Title"] = "Home Page";
    ViewData["Player"] = Model;
    ViewData["Username"] = Model.Username;
    ViewData["Score"] = Model.Score;
    ViewData["BootStrap"] = true;
}

<p>Adding a card soon TM</p>
