@model TermProject.ViewModels.AllCardsViewModels
@{
    ViewData["Title"] = "All Cards";
    ViewData["Username"] = Model.player.Username;
    ViewData["Player"] = Model;
    ViewData["Score"] = Model.player.Score;
    ViewData["BootStrap"] = true;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewDuel</title>
</head>
<body>
    <h2>Star A New Duel</h2>
    <p>please vote later :<   <=== or ill be sad (you cant vote for yourself)</p>
</body>
</html>
