@model TermProject.ViewModels.VotingViewModel
@{
    ViewData["Title"] = "Vote plz :<";
    ViewData["Username"] = Model.player.Username;
    ViewData["Player"] = Model.player;
    ViewData["Score"] = Model.player.Score;
    ViewData["BootStrap"] = true;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voting</title>
    <style>
        .card-body {
            min-height: 300px;
            min-width: 300px;
            margin-right: 5px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
</head>
<body>
    <div class="jumbotron text-center white-text" style="background-color: black">
        <h5>Please Vote or ill be crying :<</h5>
        @Html.ValidationMessage("Validation")
    <form asp-action="Voted" method="post">
        @foreach (Duel d in Model.Duels)
        {
            foreach (Player p in d.Players)
            {


                <div class="card-columns d-flex flex-row flex-wrap">

                    <div class="card card-body btn-outline-black">@p.DuelCard.Text</div>

                </div>
            }
        }
        <button type="submit" class="btn btn-outline-white">Submit</button>
    </form>
    </div>
</body>
</html>
