@model LoginModel
@{
    ViewData["Title"] = "Login";
    ViewData["BootStrap"] = true;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/css/Login.css">
</head>
<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
        </div>
    </div>
    <div class="main">
        @Html.ValidationMessage("Validation")
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form asp-action="Login" method="post">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="text" class="form-control" placeholder="Admin">
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Secret1!">
                    </div>
                    <button type="submit" class="btn btn-black">Log in</button>
                    <a class="btn btn-grey" href="@Url.Action("NewDuel","Home", ViewData["Player"]);">Register / Create a Duel</a>
                    <a class="btn btn-white" href="@Url.Action("Index","Home", ViewData["Player"]);">Home</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>